.active-day {
  text-decoration: underline;
  text-underline-offset: 3px;
}
.day-list li {
  list-style-type: none;
  display: inline;
  padding: 0px 7px;
  font-size: 12px;
  color: #d3faff;
  font-weight: 100;
}
.time-col {
  font-size: 45px;
  font-weight: 300;
}
.status-button {
  background-color: #05d1fa;
  padding: 5px 5px;
  width: 50px;
  border: 2px solid white;
  border-radius: 15px;
  margin: 10px;
}
.main {
  border-radius: 20px;
  filter: drop-shadow(5px 5px 5px #142236);
  margin: 0px 10px;
}
.text-color-active {
  color: #d3faff;
}
.main-beeped {
  background: linear-gradient(180deg, #ff0000, #420000);
}
.main-active {
  background: linear-gradient(180deg, #05d1fa, #0084fe);
}
.main-inactive {
  background: linear-gradient(180deg, #243b57, #142236);
}
@media screen and (max-width: 390px) {
  .time-col {
    font-size: 35px;
  }
}
