.dropdown {
  background-color: transparent;
  color: white;
  width: 100%;
  margin-top: 20px;
}
.dropdown-item {
  color: white;
  font-weight: 200;
}
.dropdown-item:hover {
  border: 1px solid #243b57;
  background-color: #05d1fa;
  font-weight: 600;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.516));
  border-radius: 10px;
}
.dropdown-menu {
  background: linear-gradient(180deg, #243b57, #142236);
  border: 2px solid #05d1fa;
  padding: 0px 2px;
}
